<div
  class="max-w-7xl p-6 bg-white border border-gray-200 rounded-lg shadow mx-auto my-3 text-sm"
>
  <span class="text-4xl">Hello, {{userPostObj.name}}</span>
  <p class="text-xl">Welcome to your dashboard!!!</p>
</div>

<p class="text-3xl text-center uppercase font-bold">Your Posts</p>

{{#each userPostObj.posts as |post|}}

  <article
    class="max-w-7xl p-6 bg-white border border-gray-200 rounded-lg shadow mx-auto my-3 text-sm"
  >
    <h5
      class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 dark:text-white"
    >{{post.title}}</h5>
    <p
      class="mb-3 font-normal text-gray-500 text-lg dark:text-gray-400"
    >{{post.content}}
    </p>
    <div class="italic">
      <span class="font-bold text-purple-400">Posted By:
        <span>{{post.user.name}}</span>
        @{{post.createdAt}}</span>
    </div>
  </article>
{{/each}}