{{#each posts as |post|}}
  <article
    class="max-w-7xl p-6 bg-white border border-gray-200 rounded-lg shadow mx-auto my-3 text-sm"
  >
    <div class="flex items-center justify-between">
      <h5
        class="mb-2 text-3xl font-semibold tracking-tight text-gray-900 dark:text-white"
      >{{post.title}}</h5>
      <span class="text-md font-semibold text-gray-400">Created At:
        <span class="">
          {{formatDate post.createdAt}}
        </span></span>
    </div>
    <p
      class="mb-3 font-normal text-gray-500 text-xl dark:text-gray-400"
    >{{post.content}}</p>

    <!-- Comments Section -->
    {{#if post.comments.length}}
      <div class="mt-4">
        <h6 class="mb-2 text-xl font-semibold">Comments:</h6>
        {{#each post.comments as |comment|}}
          <div class="mb-2 p-3 border-gray-300 border rounded-lg bg-gray-50">
            <p
              class="text-green-600 text-lg font-mono font-semibold tracking-tighter"
            >{{comment.comment_text}}</p>
            {{#if comment.user}}
              <p class="text-purple-500 italic text-md">Commented by:
                {{comment.user.email}}</p>
            {{else}}
              <p class="text-purple-500 italic text-md">Commented by: Anonymous</p>
            {{/if}}
            <p class="text-gray-500 italic text-md">Created On:
              {{formatDate comment.createdAt}}</p>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </article>
{{/each}}